body {
  color: black;
  background-color: white;
  text-align: center;
}

h1 {
  color: darkblue;
}

/* never clicked (visited) link */
a {
  color: white
}

/* clicked (visited) link */
a.visited {
  color: grey;
}

/* moused over link */
a.hover {
  color: lightblue;
}


